.detail {
    background-color: #BD2A4E;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    overflow: auto;
  }
  .detail.open {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
   
  .detail-container {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    max-width: 500px;
  }
   
  .detail-container dl {
    margin: 0;
    padding: 0;
  }
   
  .detail-container dt {
    font-size: 2.2rem;
    font-weight: 300;
  }
   
  .detail-container dd {
    margin: 0 0 40px 0;
    font-size: 1.8rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #ac2647;
    box-shadow: 0 1px 0 #c52c51;
  }
   
  .close {
    background: none;
    padding: 18px;
    color: #fff;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    line-height: 1;
    font-size: 1.1rem;
    position: fixed;
    cursor: pointer;
    right: 40px;
    top: 20px;
    -moz-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    transition: border 0.3s linear;
  }
  .close:hover, .close:focus {
    background-color: #a82545;
    border: 1px solid #a82545;
  }